.card{
    background-color: #bce7fd;
    display: flex;
    flex-direction: row;
    margin: 5px;
    max-width: 15rem;
    min-width: 15rem;
}

/* img */
.card-img-top{
    width: 6rem;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

/* Text */
h5{
    padding-top: 1rem;
    text-align: left;
}
.btn-myList{
    margin-bottom: 1rem;
    position: relative;
    top: -1rem;
}
.button-container{
    display: flex;
}