.card{
    background-color: #F0FFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    overflow: hidden;
    justify-content: left;
}
/* img */
.card-img-top{
    width: 10rem;
    align-items: center;
}
.card-body{
    float: left;
    justify-self: left;
}

/* Text */
h5{
    font-size: 14px;
    text-align: left;
    padding-top: -10px;
}
.btn-myList{
    margin-bottom: 1rem;
    position: relative;
    top: -1rem;
}
.button-container{
    display: flex;
}
.card-text{
    font-size: 14px;
    padding-bottom: 5px;
}
.btn{
    background-color: #94d3a2;
    color: black;
}
.btn:hover{
    background-color: #B3E9C7;
}
.btn:active{
    background-color: #A0D9A9;
}
.login{
    min-height: 33px;
}