.swiper-car {
  padding-top: 10px;
  width: 610px;
  height: 370px;
}

.swiper-slide-car {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  
}

.swiper-slide-car:nth-child(1n) {
  background-color: #A0D9A9;
}

.h2Home{
  text-align: center;
  color: #f3CB13;
  font-weight: bold;
  font-size: 70px;
}
.d-block{
  border-radius: 10px;
  width: 600px;
}

