/* Login form */
form{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* labels for input fields */
label{
    padding-left: 4px;
}

/* form submit button */
button{
    margin-left: 4px;
}
/* h# headers */
.classh1{
    margin-bottom: 8rem;
}
h5{
    text-align: center;
}
/* Register link */
.link{
    text-align: center;
    justify-content: center;
    justify-self: center;
    color: black;
}
.divLogin{
    background-color: #F0FFF1;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    opacity: 80%;
}

.red-text{
    color: red;
}
.PWerror{
    font-size: 11px;
    color: red;
    padding-left: 10px;
}
.logout-biv{
    display: flex;
    justify-content: center;
    align-items: center;
}