.navbar{
    border-radius: 10px;
    background-color: #A0D9A9;
    height: 60px;
}

.navbar-collapse{
    display: flex;
    justify-content: right;
}

.nav-item{
    margin-right: 2rem;
    color: white;
}

.nav-logo{
   

}
.nav-link{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.nav-logo{
    width: 12rem;
}
