.navbar{
    border-radius: 10px;
}

.navbar-collapse{
    display: flex;
    justify-content: right;
}

.nav-item{
    margin-right: 2rem;
}

.imgNav{
    width: 5rem;
    border-radius: 10px;
}
.imgNav:hover{
    opacity: 85%;
}