.addbtn{
  background-color: #A0D9A9;
  color: white;
  position:relative;
  margin:0;
}
.addbtn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.addbtn:hover {
  background-color: #B3E9C7;
}

.addbtn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.addbtn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.addbtn:active {
  background-color: #A0D9A9;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
.movie-title {
    text-align: center;
  }
  
  .movie-container {
      display: flex;
      justify-content: center; /* Center the container horizontally */
      align-items: flex-start; /* Align items at the start (top) vertically */
    }
    
    .movie-image {
      width: 350px; /* width of movie image */
      margin-right: 200px; /* spacing between movie image and text */
    }
    
    .movie-details {
      flex: 1; /* Allow text content to fill remaining space */
    }
    