.searchbtn{
    background-color: #B3E9C7;
    color: white;
    position:relative;
    margin:0;
}

.searchbtn:hover {
  background-color: #A0D9A9;
}

.searchbtn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.searchbtn:disabled {
  background-color: #94d3a2;
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.searchbtn:active {
  background-color: #A0D9A9;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  border: none;
}
.searchbar{
    width:300px;
    display: flex;
    margin-left: 48vw;
    padding: 0;
    justify-self: flex-end;
    border-color:lightgray;
}
.btndropdown{
    background-color: #B3E9C7;
    color: white;
    margin: 0;
    border-radius: 0px;
}

.search-div{
  display: flex;
}

.show {
  background-color: #A0D9A9;
  border: none; 
}
.dropdown-menu{
  background-color: #94d3a2;
}
.dropdown-item:hover{
  background-color: #A0D9A9;
}